@media screen and (max-width: 320px)  {
    h1{
        margin-top: 40px;
        font-size: 20px;
        
    }
    .text-about{
        font-size: 20px;
        left: 0%;
        /* justify-content: center; */
    }
    .logo_item{
        

    }
    .header-menu,li{
        font-size: 15px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .twoblock{
        width: 100%;
        
    }
    }
    @media screen and (min-width: 375px)  {
        h1{
            margin-top: 40px;
            font-size: 30px;
            
        }
        .header-menu,li{
            font-size: 20px;
            margin-left: 5%;
            margin-right: 5%;
        }
        .text-about{
            font-size: 20px;
            justify-content: center;
        }
    
        .twoblock{
            width: 100%;
            
        }
        }
        @media screen and (min-width: 425px)  {
            h1{
                margin-top: 40px;
                font-size: 40px;
                
            }
            .text-about{
                font-size: 20px;
                justify-content: center;
            }
        
            .twoblock{
                width: 100%;
                
            }
            }
            @media screen and (min-width: 768px)  {
                h1{
                    margin-top: 40px;
                    font-size: 50px;
                    
                }
                .header-menu,li{
                    font-size: 25px;
                    margin-left: 5%;
                    margin-right: 5%;
                }
                .text-about{
                    font-size: 30px;
                    justify-content: center;
                }
            
                .twoblock{
                    width: 100%;
                    
                }
                }