.header{
    
    width: 100%;
    height: 70px;
    position: absolute;
    margin-top: -30px;
    margin-left: -8px;
    margin-right: -8px;
    
    display: block;
}
    
.header-menu,li{
    display: inline-block;
    display:flex ;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
    list-style: none;
    font-size: 21px;
}
.logo_item{
    width: 60px;
    height: 45px;
    background-image: url(./logo/logo-PhotoRoom.png);
    background-size: cover;
    margin-top: -10px;
    text-align: left;
    position: absolute;
    margin-top: 0px;
}
.oneblock{
    width: 100%;
    height: 800px;
    
}

.paralax{
    background-image: url(./bacground/nebo-oblaka-vysota-3997.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center center;
    
    transition: all 0.2s ease;
    /* backdrop-filter: blur(5px); */
    /* Использовать при готовом паралаксе */
    
}


h1{
    text-align: center;
    font-size: 60px;
    padding-top: 70px;
}
.text-about{
    
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 30px;
    justify-content: center;
    margin-top: 100px;
   
}

.twoblock{
    
    width: 100%;
    margin-left: -8px;
    border: none;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    
}

